:root {
  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);
  --white: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --gray-95: hsl(0, 0%, 95%);
  --font-shoulders: 'Big Shoulders Display', cursive;
  --font-deca: 'Lexend Deca', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--font-deca);
  font-size: 16px;
  color: var(--white);
  background-color: var(--white-75);
}

/* Hidden h1 for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.container {
  display: grid;
  max-width: 320px;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.card-component {
  padding: 2.5rem;
}

.col-one {
  background-color: var(--orange);
}

.col-two {
  background-color: var(--dark-cyan);
}

.col-three {
  background-color: var(--darker-cyan);
}

.card__image {
  padding-bottom: 1.25rem;
}

.card__title {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--font-shoulders);
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.card__text {
  line-height: 1.75;
  padding-bottom: 1.5rem;
  font-weight: 300;
}

.card__btn {
  font-size: .85rem;
  background-color: var(--white);
  padding: .75rem 2rem;
  border-radius: 1.5rem;
  border: none;
}

.col-one .card__btn {
  color: var(--orange);
}

.col-two .card__btn {
  color: var(--dark-cyan);
}

.col-three .card__btn {
  color: var(--darker-cyan);
}

footer {}

.fm-attribution { 
  font-size: 11px; 
  text-align: center; 
}

.fm-attribution a { 
  color: hsl(228, 45%, 44%);
}