:root {
  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);
  --white: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --gray-95: hsl(0, 0%, 95%);
  --font-shoulders: 'Big Shoulders Display', sans-serif;
  --font-deca: 'Lexend Deca', sans-serif;
}

/* Hidden class for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: var(--font-deca);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--gray-95);
  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 4rem;
}

.card-container {
  max-width: 325px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-component {
  padding: 3rem;
}

.col-one {
  background-color: var(--orange);
}

.col-two {
  background-color: var(--dark-cyan);
}

.col-three {
  background-color: var(--darker-cyan);
}

.card__image {
  margin-bottom: 2.1875rem;
}

.card__title {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--font-shoulders);
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.card__text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.card__btn {
  font-size: 0.9375rem;
  font-family: var(--font-deca);
  background-color: var(--white);
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  border: 2px solid var(--white);
  transition: background-color 0.5s ease;
}

.card__btn:hover {
  background-color: unset;
}

.col-one .card__btn {
  color: var(--orange);
}

.col-two .card__btn {
  color: var(--dark-cyan);
}

.col-three .card__btn {
  color: var(--darker-cyan);
}

.col-one .card__btn:hover,
.col-two .card__btn:hover,
.col-three .card__btn:hover {
  color: var(--white);
}

/* Animation */
.col-one {
  -webkit-animation: 1s ease-out 1 slidecol1;
  animation: 1s ease-out 1 slidecol1;
}

@-webkit-keyframes slidecol1 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slidecol1 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.col-two {
  -webkit-animation: 2s linear 1 slidecol2;
  animation: 2s linear 1 slidecol2;
}

@-webkit-keyframes slidecol2 {
  0%,
  50% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slidecol2 {
  0%,
  50% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.col-three {
  -webkit-animation: 3s linear 1 slidecol3;
  animation: 3s linear 1 slidecol3;
}

@-webkit-keyframes slidecol3 {
  0%,
  50%,
  70% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slidecol3 {
  0%,
  50%,
  70% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Desktop */

@media (min-width: 1000px) {
  .card-container {
    max-width: 920px;
    display: flex;
  }

  .card-component {
    flex-basis: 33.3%;
  }

  .card__text {
    margin-bottom: 5.1875rem;
  }
}

/* Footer */

.fm-byline-row {
  padding: 1rem 0;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: var(--darker-cyan);
}
